<h1>
   <%= @author.name %>
</h1>

<h3><%= @author.country %></h3>

<p><%= simple_format @author.bio %></p>

<%= link_to "New Novel", new_novel_path( author_id: @author.id ), class: "btn btn-default", style: "float: right" %></h2>

<% novels = @author.novels.sort_by { |novel| novel.year } %>

<%= render novels, hide_author: true %>
