<h1>
   <%= @author.name %>
   <%= link_to "Delete", author_path( @author ), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default", style: "float: right" %>
   <%= link_to "Edit", edit_author_path( @author ), class: "btn btn-default", style: "float: right" %>
</h1>

<h3><%= @author.country %></h3>

<p><%= simple_format @author.bio %></p>

<%= link_to "New Novel", new_novel_path( author_id: @author.id ), class: "btn btn-default", style: "float: right" %></h2>

<% novels = @author.novels.sort_by { |novel| novel.year } %>

<%= render novels, hide_author: true %>
