<div class="novel-item">

   <div class="inline cover">
      <img class="small-cover" src="<%= novel.cover %>"/>
   </div>

   <div class="inline details">

      <h3><%= link_to novel.title, novel %></h3>

      <% if !defined?(hide_author) || !hide_author %>
          <h4><%= link_to novel.author.name, novel.author %></h4>
      <% end %>

      <p><%= novel.year %></p>
      <p><%= novel.plot %></p>

      <p>
         <% novel.genres.each do |genre| %>
             <%= link_to "#{genre.name}", genre, class: "btn btn-primary btn-xs" %>
         <% end %>
      </p>

   </div>

</div>