<h1>
   <%= @novel.title %>
   <%= link_to "Delete", novel_path( @novel ), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default", style: "float: right" %>
   <%= link_to "Edit", edit_novel_path( @novel ), class: "btn btn-default", style: "float: right" %>
</h1>

<h3><%= link_to @novel.author.name, @novel.author %> </h3>

<p><%= @novel.year %></p>
<p><%= @novel.plot %></p>

<p>
   <% @novel.genres.each do |genre| %>
       <%= link_to "#{genre.name}", genre, class: "btn btn-primary btn-xs" %>
   <% end %>
</p>

<img class="cover" src="<%= @novel.cover %>"/>
